# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: dgclst@rclay2020
      POSTGRES_USER: dgcl
      POSTGRES_DB: dgcl

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
